body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  background-color: white;
  padding: 7% 15%;
  text-align: center;
  z-index: 1;
  position: relative;
}

.container-fluid {
  padding: 0 15%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 2rem;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;


}
h4{
  font-family: "Montserrat";
  font-weight: bold;
  color:#fff;
  line-height: 1.5;
  font-size: 3rem;
  margin: 0 200px;
}
p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.rotateimg180 {
  transform: rotate(25deg);
  width: 60%;
  background-size: contain;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button {
  margin: 5% 3% 5% 0;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3rem;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-cols {
  padding: 3% 5%;
}

.press-logo {
  margin: 20px 20px;
  width: 15%;
}


.cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 100px;

}
.footer{
  text-align: center;
}

.end{
  padding: 100px;
  background-color: #fff;
  text-align: center;

}
